.itemsManager {
  .actionsBlock {
    display: flex;
    justify-content: space-between;
    max-width: 60px;

    > * {
      cursor: pointer;
    }
  }
}

.selectSort {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 0.5rem;
}
