.itemsManager {
  .actionsBlock {
    display: flex;
    justify-content: space-between;
    max-width: 60px;

    > * {
      cursor: pointer;
    }
  }
}

.selectSort {
  text-align: right;
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  padding: 20px 0;
  justify-content: center;
  .MuiOutlinedInput-input {
    width: 400px;
  }
}

.MuiTableHead-root {
  background-color: #ebeaea;
  .MuiTableCell-head {
    font-weight: 600;
  }
}
