.adminDashboard {
  .body {
    width: 100%;
    display: flex;
    > .content {
      padding: 20px;
      width: 100%;
      background-color: #f2f2f2;
    }
  }
  .makeStyles-search-4{
    display: none;
  }
}
